body {
    font-size: 20px;
    line-height: 1.5em;
    width: 620px;
    padding: 1em;
    margin: 0 auto 3em;
    background: #fff url(/static/images/billie_holiday.png);
    color: #222;
    font-family: "Hoefler Text", Palatino, Georgia, serif;
}

a {
    color: #444;
}

strong {
    font-family: Palatino, Georgia, serif;
}

h1, h2, h3, h4, h5, h6, th, dt {
    font-family: Palatino, Georgia, serif;
    font-size: 120%;
    margin-top: 1em;
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
    border-top: 1px solid #eee;
    padding-top: 1em;
}

h2 {
    clear: left;
    font-size: xx-large;
    text-align: center;
}

.logo {
    font-size: 155px;
    line-height: 0;
    text-align: center;
    font-weight: 300;
    margin: 0 0 .7em;
    border-top: none;
}
    .logo a {
        color: #000;
        text-decoration: none;
    }

dd ul {
    margin-left: 2em;
    list-style-type: square;
}
    dd li {
        margin-bottom: .5em;
    }

hr {
    display: none;
}

ul {
    line-height: 1.3;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
    ul li {
        margin-bottom: .7em;
    }

.valeurs {
}
    .valeurs dt {
        float: left;
        width: 25%;
        margin: 0;
        text-align: right;
    }
    .valeurs dd {
        float: left;
        width: 70%;
        min-height: 3.5em;
        padding: .1em 0 0 1em;
        margin: 0;
    }

.approche {
}
    .approche dt {
        font-weight: bold;
        font-size: 100%;
    }
    .approche dt:not(:first-child) {
        margin-top: 1em;
    }

.equipe {
    list-style: none;
    padding-bottom: 30px;
    margin: 0 auto;
    font-size: 90%;
}
    .equipe li {
        float: left;
        width: 50%;
    }
    .equipe img {
        float: left;
        border-radius: 48px;
    }
    .equipe li {
        padding-bottom: 10px;
    }
    .equipe a {
        display: block;
        padding: 13px 0 0 56px;
    }

.contactez-nous {
    clear: both;
}

table {
    margin-left: 40px;
    width: 100%;
    text-align: center;
    line-height: 1.2em
}
    tbody td {
        font-size: large;
        padding: 8px;
    }
    tbody th {
        text-align: center;
    }
    tbody tr th {
        width: 50px;
    }

footer blockquote {
    font-size: 130%;
    text-align: center;
    font-weight: normal;
    font-family: Palatino, Georgia, serif;
    font-style: italic;
    letter-spacing: .05em;
    padding-top: 1em;
}
    footer blockquote cite {
        display: block;
        margin-top: 1em;
        text-align: right;
    }

footer p {
    text-align: center;
}
