{% extends "base.html" %}

{% block meta_language %}en{% endblock meta_language %}
{% block meta_description %}scopyleft helps you build web projects in a search of quality{% endblock meta_description %}
{% block header_navigation %}
<nav><p>
    <a href="{{ url_for("index") }}">français</a>
</p></nav>
{% endblock header_navigation %}


{% block footer %}
<h2 class="contactez-nous" id="contact">Contact us</h2>
<p class="center">
    by <a href="m&#x61;ilto:bonjour%40scopyleft&#46;fr">email</a>,
    on <a href="https://twitter.com/scopyleft">twitter</a>
    or call us <a href="tel:+33644098095">+33 6 44 09 80 95</a> (Vincent).</p>
<hr />
{%- block quote -%}
<blockquote>
    <q>Work between humans on ethical and interesting projects, while preserving one's well-being and enjoyment.</q>
</blockquote>
{%- endblock quote -%}
<hr>

{% block footer_navigation %}
<nav><p>
    <a href="{{ url_for("index") }}">français</a>
</p></nav>
{% endblock footer_navigation %}
{% endblock footer %}
</body>
</html>
